{# templates/admin/business_stats/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block configured_javascripts %}
    {{ parent() }}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


<script>
    $(document).ready(function() {
        $('input[name="wiersz[]"]').change(function() {
            var sztukiInput = $(this).closest('tr').find('input[name="sztuki[]"]');
            var cenyInput = $(this).closest('tr').find('input[name="ceny[]"]');
            var nazwaInput = $(this).closest('tr').find('input[name="nazwa[]"]');
            var polowaCheckbox = $(this).closest('tr').find('input[name="polowa[]"]');

            if ($(this).prop('checked')) {
                polowaCheckbox.prop('disabled', false);
                sztukiInput.prop('disabled', false);
                cenyInput.prop('disabled', false);
                nazwaInput.prop('disabled', false);
            } else {
                polowaCheckbox.prop('disabled', true);
                sztukiInput.prop('disabled', true);
                cenyInput.prop('disabled', true);
                nazwaInput.prop('disabled', true);
            }
        });

        $('input[name="polowa[]"]').change(function() {
            var sztukiInput = $(this).closest('tr').find('input[name="sztuki[]"]');
            var sztukiValue = parseInt(sztukiInput.val());


            if ($(this).prop('checked')) {
                sztukiInput.val(Math.ceil(sztukiValue / 2));
            } else {
                sztukiInput.val(Math.ceil(sztukiValue * 2));
            }
        });
    });

</script>
{% endblock %}


{% block content_title 'KROK 1: przygotowanie FV' %}
{% block main %}
    <div class="container">

        <form action="{{ path('fv_krok_2', {'id': zamowienie_id}) }}" method="post">

            <div class="accordion mb-0" id="accordionZeszyt">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            {{ klient }} - ORYGINAŁ ZAMÓWIENIA
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <table class="table wozek-druk">
                                <thead>
                                <tr class="more-gray">
                                    <th>Lp</th>
                                    <th>Nazwa</th>
                                    <th>Typ</th>
                                    <th class="text-center">Sztuk</th>
                                    <th class="text-right">Cena</th>
                                    <th class="text-right">Wartość</th>
                                    <th class="text-center">Wózek nr</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set lp = 1 %}
                                {% set previous_key = -1 %}
                                {% set row_color = 'gray' %}
                                {% for key, innerArray in wozki %}
                                    {% for item in innerArray %}
                                        {% if key != previous_key %}
                                            {% if row_color == 'gray' %}
                                                {% set row_color = 'white' %}
                                            {% else %}
                                                {% set row_color = 'gray' %}
                                            {% endif %}
                                            {% set previous_key = key %}
                                        {% endif %}
                                        {% if row_color == 'gray' %}
                                            <tr class="gray">
                                        {% else %}
                                            <tr>
                                        {% endif %}
                                        <td>{{ lp }}</td>
                                        <td>{{ item.nazwa }}</td>
                                        <td>{{ item.rodzaj }}</td>
                                        <td class="text-center">{{ item.sztuk }}</td>
                                        <td class="text-right">{{ item.cena }} zł</td>
                                        <td class="text-right">{{ item.wartosc }} zł</td>
                                        <td class="text-center">{{ key }}</td>
                                        </tr>
                                        {% set lp = lp + 1 %}
                                    {% endfor %}
                                {% endfor %}
                                {% if wozki|length > 0 %}
                                    {% if row_color == 'gray' %}
                                        <tr class="gray">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                    <td colspan="5" class="text-right more-gray"><strong>SUMA:</strong></td>
                                    <td class="more-gray text-right"><strong>{{ kwota }} zł</strong></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Pozycje z zamówienia
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                        <div class="accordion-body">


                                <table class="table wozek-druk">
                                    <thead>
                                    <tr class="more-gray">
                                        <th>Lp</th>
                                        <th>Wybierz</th>
                                        <th>Nazwa</th>
                                        <th>1/2</th>
                                        <th class="text-center">Sztuk</th>
                                        <th class="text-right">Cena</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% set lp = 1 %}
                                    {% set previous_key = -1 %}
                                    {% set row_color = 'gray' %}
                                    {% for key, innerArray in wozki %}
                                        {% for item in innerArray %}
                                            {% if key != previous_key %}
                                                {% if row_color == 'gray' %}
                                                    {% set row_color = 'white' %}
                                                {% else %}
                                                    {% set row_color = 'gray' %}
                                                {% endif %}
                                                {% set previous_key = key %}
                                            {% endif %}
                                            {% if row_color == 'gray' %}
                                                <tr class="gray">
                                            {% else %}
                                                <tr>
                                            {% endif %}
                                            <td>{{ lp }}</td>
                                            {#                        item.id_wpisu_zamowienia#}
                                            <td><input type="checkbox" name="wiersz[]" value="{{ lp }}"></td>
                                            <input type="hidden" name="nazwa[]" value="{{ item.nazwa }}" disabled>
                                            <td>{{ item.nazwa }}</td>
                                            <td><input type="checkbox" name="polowa[]" value="{{ lp }}" disabled></td>
                                            <td class="text-center"><input type="number" name="sztuki[]" value="{{ item.sztuk }}" disabled></td>
                                            <td class="text-right"><input type="number" name="ceny[]" value="{{ item.cena }}" disabled></td>


                                            </tr>
                                            {% set lp = lp + 1 %}
                                        {% endfor %}
                                    {% endfor %}


                                    </tbody>
                                </table>



                        </div>
                    </div>
                </div>
        </div>

            {#                <strong>Pozycje z zamówienia:</strong>#}
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ile_pozycji" class="form-label">Ilość nowych pozycji</label>
                        <input type="number" id="ile_pozycji" name="ile_pozycji" class="form-control">
                    </div>
                </div>
{#                <div class="col-md-4">#}
{#                    <div class="form-group">#}
{#                        <label for="cena" class="form-label">Na kwotę</label>#}
{#                        <input type="text" id="cena" name="cena" class="form-control">#}
{#                    </div>#}
{#                </div>#}
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cena" class="form-label">VAT %</label>
                        <input type="text" id="vat" name="vat" class="form-control" value="23">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="rodzaj_platnosci" class="form-label">Rodzaj płatności</label>
                        <select id="rodzaj_platnosci" name="rodzaj_platnosci" class="form-control">
                            <option value="Przelew">Przelew</option>
                            <option value="Gotówka">Gotówka</option>
                            <option value="Karta płatnicza">Karta płatnicza</option>
                            <option value="Barter">Barter</option>
                            <option value="BLIK">BLIK</option>
                            <option value="Czek">Czek</option>
                            <option value="DotPay">DotPay</option>
                            <option value="Kompensata">Kompensata</option>
                            <option value="Opłata za pobraniem">Opłata za pobraniem</option>
                            <option value="PayPal">PayPal</option>
                            <option value="PayU">PayU</option>
                            <option value="Płatność elektroniczna">Płatność elektroniczna</option>
                            <option value="Przelewy24">Przelewy24</option>
                            <option value="Bon">Bon</option>
                            <option value="Kredyt">Kredyt</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-success btn-block btn-wider">DALEJ</button>
                </div>
            </div>
        </form>

        <a class="mt-3" href="admin{{ wstecz }}"><< wstecz</a>
        <hr>
    </div>
{% endblock %}

