{# templates/admin/business_stats/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Podgląd dnia' %}
{% block main %}
    <div class="container">
        <div class="flex-container">
            <h4 class="my-4">Dzień {{ wozekNr }}</h4>
            <span class="klient">{{ user }}</span>
        </div>

        {% set suma = 0 %}
        {% set podsuma = 0 %}
        {% set sb = 0 %}
        {% set nd = 0 %}

        <table class="table table-striped wozek-druk">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Sztuk</th>
                <th>Cena</th>
                <th>Wartość</th>
            </tr>
            </thead>
            <tbody>
            {% for element in wozki %}
                <tr>
                    <td>{{ element.nazwa }}</td>
                    <td>{{ element.rodzaj }}</td>
                    <td>{{ element.sztuk }}</td>
                    <td>{{ element.cena }}</td>
                    {% set podsuma = podsuma + (element.sztuk * element.cena)  %}
                    <td>{{ podsuma }}</td>
                </tr>

                {% if czy_wknd.format('w') == '6' %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Dodatek sobota:</td>
                        {% set sb = (podsuma * 0.5)  %}
                        <td>{{ sb }}</td>
                        {% set podsuma = podsuma + sb  %}
                    </tr>
                {% elseif czy_wknd.format('w') == '0' %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Dodatek niedziela:</td>
                        {% set nd = podsuma %}
                        <td>{{ nd }}</td>
                        {% set podsuma = podsuma + nd  %}
                    </tr>
                {% endif %}

                {% set suma = podsuma + suma  %}
                {% set podsuma = 0  %}

            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>SUMA:</td>
                <td>{{ suma }} zł</td>
            </tr>
            </tbody>
        </table>
        <a href="admin{{ wstecz }}"><< wstecz</a>
    </div>
{% endblock %}

