{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('layout') %}
{% form_theme edit_form with ea.crud.formThemes only %}

{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id 'ea-edit-' ~ entity.name ~ '-' ~ entity.primaryKeyValue %}
{% block body_class 'ea-edit ea-edit-' ~ entity.name %}

{% set ea_field_assets = ea.crud.fieldAssets(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_EDIT')) %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('form.js', ea.assets.defaultAssetPackageName) }}"></script>
{% endblock head_javascript %}

{% block configured_head_contents %}
    {{ parent() }}
    {% for htmlContent in ea_field_assets.headContents %}
        {{ htmlContent|raw }}
    {% endfor %}
{% endblock %}

{% block configured_body_contents %}
    {{ parent() }}
    {% for htmlContent in ea_field_assets.bodyContents %}
        {{ htmlContent|raw }}
    {% endfor %}
{% endblock %}

{% block configured_stylesheets %}
    {{ parent() }}
    {{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea_field_assets.cssAssets }, with_context = false) }}
    {{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    {{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea_field_assets.jsAssets }, with_context = false) }}
    {{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}

    <script>
        function calculateSum() {
            var suma = 0;
            for (var i = 1; i <= 2; i++) {
                var inputId = 'Zeszyt_wartosc' + i;
                var inputValue = $('#' + inputId).val();
                if (inputValue) {
                    var value = parseFloat(inputValue.replace('.', '').replace(',', '.'));
                    if (!isNaN(value)) {
                        suma += value;
                    }
                }
            }

            //suma - góra
            var total = suma;
            //$('#calkowita_wartosc').text(total.toLocaleString('pl-PL') + ' zł');

            //wazon -dół
            var formattedTotal = total.toLocaleString('pl-PL', { minimumFractionDigits: 2 });
            // Usunięcie ewentualnych spacji
            formattedTotal = formattedTotal.replace(/\s/g, '');
            $('#Zeszyt_suma').val(formattedTotal);
        }

        $(document).ready(function() {
            let selectedOption = '';
            calculateSum();

            $('input[id^="Zeszyt_wartosc"]').on('input', function() {
                calculateSum();
            });

            //miesiąc
            var inputValue = $('#Zeszyt_miesiac').val();
            updateTytulKlient(inputValue);

            $('#Zeszyt_miesiac').on('input', function() {
                var inputValue = $(this).val();
                updateTytulKlient(inputValue);
            });

            var monthInput = document.getElementById('Zeszyt_miesiac');

            var selectedMonth = '';

            monthInput.addEventListener('change', function() {
                selectedMonth = monthInput.value;
            });

            monthInput.addEventListener('blur', function() {
                setTimeout(function() {

                    if (selectedMonth && selectedMonth !== monthInput.value) {

                        var date = new Date(selectedMonth);
                        date.setDate(1);
                        date.setHours(0, 0, 0, 0);
                        // Ustaw wartość pola month na uzupełnioną datę i czas
                        monthInput.value = date.toISOString().slice(0, 7);
                    }
                }, 2000);
            });

            //rodzaj
            //id całego elementu
            var idCalegoElementu;
            $('.rodzaje_kompozycji input[type="radio"]').on('change', function() {
                var elementId = $(this).closest('.rodzaje_kompozycji').attr('id');
                idCalegoElementu = elementId.match(/\d+/);

                var selectedValue = $(this).val();
                var selectedId = $(this).attr('id');
                var id = selectedId.substring(selectedId.lastIndexOf('_') + 1);
                var selectedOption = $('#Zeszyt_kompozycja' + idCalegoElementu + '_autocomplete').val();
                fetchPracaAfterRadioChange(selectedOption, selectedValue, idCalegoElementu);
            });

        }); //on ready

        const sztukFields = document.querySelectorAll('[id^="Zeszyt_sztuk"]');
        const cenaFields = document.querySelectorAll('[id^="Zeszyt_cena"]');
        const wartoscFields = document.querySelectorAll('[id^="Zeszyt_wartosc"]');

        sztukFields.forEach((sztukField) => {
            const where = sztukField.id.slice(-1);
            const cenaField = document.getElementById(`Zeszyt_cena${where}`);
            const wartoscField = document.getElementById(`Zeszyt_wartosc${where}`);

            sztukField.addEventListener('input', () => {
                const sztuk = parseInt(sztukField.value);
                const cena = parseFloat(cenaField.value);
                const wartosc = sztuk * cena;
                wartoscField.value = wartosc.toFixed(2);
            });

            cenaField.addEventListener('input', () => {
                const sztuk = parseInt(sztukField.value);
                const cena = parseFloat(cenaField.value);
                const wartosc = sztuk * cena;
                wartoscField.value = wartosc.toFixed(2);
            });
        });

        function fetchCena(element, where) {
            const selectedOption = element.value;
            var selectedRodzaj = $('#Zeszyt_rodzaj' + where + ' input[type="radio"]:checked').val();

            const specificPriceUrl = '{{ path('app_get_praca_kompozycja', {'id': '__kompozycja1__', 'cena': '__cena__'}) }}'.replace('__kompozycja1__', selectedOption).replace('__cena__', selectedRodzaj);
            const cenaKplFieldId = `Zeszyt_cena${where}`;
            const sztukFieldId = `Zeszyt_sztuk${where}`;
            const wartoscFieldId = `Zeszyt_wartosc${where}`;


            $.ajax({
                url: specificPriceUrl,
                type: 'POST',
                success: (data) => {

                    $('#' + cenaKplFieldId).val(data.cena.toString().replace('.', ','));

                    var cena = parseFloat(data.cena.toString().replace(',', '.'));
                    var sztuk = parseFloat($('#' + sztukFieldId).val());

                    if (!isNaN(cena) && !isNaN(sztuk)) {
                        var wynik = cena*sztuk
                        $('#' + wartoscFieldId).val(wynik.toString().replace('.', ','));
                    } else {
                        $('#' + wartoscFieldId).val('');
                    }
                    calculateSum();
                }
            });
        };

        function fetchPracaAfterRadioChange(selectedOption, selectedValue,idCalegoElementu) {

            const specificPriceUrl = '{{ path('app_get_praca_kompozycja', {'id': '__kompozycja1__', 'cena': '__cena__'}) }}'.replace('__kompozycja1__', selectedOption).replace('__cena__', selectedValue);
            const cenaKplFieldId = `Zeszyt_cena${idCalegoElementu}`;
            const sztukFieldId = `Zeszyt_sztuk${idCalegoElementu}`;
            const wartoscFieldId = `Zeszyt_wartosc${idCalegoElementu}`;

            $.ajax({
                url: specificPriceUrl,
                type: 'POST',
                success: (data) => {

                    //nowa cena
                    $('#' + cenaKplFieldId).val(data.cena.toString().replace('.', ','));

                    //przeliczenie ze sztukami po nowej cenie
                    var cena = parseFloat(data.cena.toString().replace(',', '.'));
                    var sztuk = parseFloat($('#' + sztukFieldId).val());

                    if (!isNaN(cena) && !isNaN(sztuk)) {
                        var wynik = cena*sztuk
                        $('#' + wartoscFieldId).val(wynik.toString().replace('.', ','));
                    } else {
                        $('#' + wartoscFieldId).val('');
                    }

                }
            });
            setTimeout(function() {
                calculateSum();
            }, 700);
        }

        function calculateWartosc(value, where) {
            const sztuk = document.getElementById('Zeszyt_sztuk' + where).value;
            const cena = document.getElementById('Zeszyt_cena' + where).value.replace(',', '.');
            const wartosc = (sztuk * cena).toFixed(2);

            document.getElementById('Zeszyt_wartosc' + where).value = wartosc.toString().replace(/\./g, ',');
            calculateSum();
        }

        // Funkcja do aktualizacji elementu tytul_klient
        function updateTytulKlient(inputValue) {
            var date = new Date(inputValue);
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear().toString();
            var formattedDate = month + '/' + year;
            document.getElementById('tytul_klient').textContent = formattedDate;
        }
    </script>
{% endblock %}

{% block content_title %}
    <div id="tytul_klient" class="d-inline-block">
        {%- apply spaceless -%}
            {% set custom_page_title = ea.crud.customPageTitle(pageName, entity ? entity.instance : null, ea.i18n.translationParameters) %}
            {{ custom_page_title is null
            ? ea.crud.defaultPageTitle(null, null, ea.i18n.translationParameters)|trans|raw
            : custom_page_title|trans|raw }}
        {%- endapply -%}
    </div>
{#    <div class="d-inline-block" style="float: right;">#}
{#        <div class="d-inline-block">SUMA:</div>#}
{#        <div id="calkowita_wartosc" class="d-inline-block">0 zł</div>#}
{#    </div>#}
{#    <div style="clear: both;"></div>#}

{% endblock %}

{% block page_actions %}
    {% for action in entity.actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}

{% block main %}

    {% block edit_form %}
        {{ form_start(edit_form, {'attr': {'class': 'row g-2'}}) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(edit_form) }}
        </div>

        {% for i in 1..40 %}
            <div class="col-12 {% if i is even %} bg-my-dark {% endif %}">
                <div class="row g-2">
                        <div class="col-8">
                            {{ form_widget(attribute(edit_form, 'kompozycja' ~ i), {attr: {'onchange': 'fetchCena(this,' ~ i ~ ')', 'placeholder': 'kompozycja'}})}}
                            <small class="form-text text-muted">{{ form_help(attribute(edit_form, 'kompozycja' ~ i)) }}</small>
                            <div class="invalid-feedback">{{ form_errors(attribute(edit_form, 'kompozycja' ~ i)) }}</div>
                        </div>
                        <div class="col-4">
                            {{ form_widget(attribute(edit_form, 'updatedAt' ~ i), {'attr': {'class': 'form-control'}}) }}
                            <small class="form-text text-muted">{{ form_help(attribute(edit_form, 'updatedAt' ~ i)) }}</small>
                            <div class="invalid-feedback">{{ form_errors(attribute(edit_form, 'updatedAt' ~ i)) }}</div>
                        </div>
                        <div class="col-12">
                            {{ form_widget(attribute(edit_form, 'rodzaj' ~ i), {'attr': {'class': 'form-control rodzaje_kompozycji'}}) }}
                            <small class="form-text text-muted">{{ form_help(attribute(edit_form, 'rodzaj' ~ i)) }}</small>
                            <div class="invalid-feedback">{{ form_errors(attribute(edit_form, 'rodzaj' ~ i)) }}</div>
                        </div>
                        <div class="col-4 mb-0">
                            {{ form_widget(attribute(edit_form, 'sztuk' ~ i), {attr:{'onchange': 'calculateWartosc(this,' ~ i ~ ')', 'min': 0, 'placeholder': 'sztuk'}}) }}
                            <small class="form-text text-muted">{{ form_help(attribute(edit_form, 'sztuk' ~ i)) }}</small>
                            <div class="invalid-feedback">{{ form_errors(attribute(edit_form, 'sztuk' ~ i)) }}</div>
                        </div>
                        <div class="col-4 mb-0">
                            <div class="form-group">
                                {{ form_widget(attribute(edit_form, 'cena' ~ i), {attr:{'onchange': 'calculateWartosc(this,' ~ i ~ ')', 'placeholder': 'cena'}}) }}
                                <small class="form-text text-muted">{{ form_help(attribute(edit_form, 'cena' ~ i)) }}</small>
                                <div class="invalid-feedback">{{ form_errors(attribute(edit_form, 'cena' ~ i)) }}</div>
                            </div>
                        </div>
                        <div class="col-4 mb-0">
                            {{ form_widget(attribute(edit_form, 'wartosc' ~ i), {'attr': {'class': 'form-control', 'placeholder': 'wartość'}}) }}
                            <small class="form-text text-muted">{{ form_help(attribute(edit_form, 'wartosc' ~ i)) }}</small>
                            <div class="invalid-feedback">{{ form_errors(attribute(edit_form, 'wartosc' ~ i)) }}</div>
                        </div>
                        <div class="col-12">
                            {{ form_widget(attribute(edit_form, 'nazwa' ~ i), {'attr': {'placeholder': 'opcjonalnie: niewycenione/uwagi'}}) }}
                            <small>{{ form_help(attribute(edit_form, 'nazwa' ~ i)) }}</small>
                            <div class="form-error">
                                {{ form_errors(attribute(edit_form, 'nazwa' ~ i)) }}
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-12 thick-separator">
                <hr class="my-4">
            </div>
        {% endfor %}

        <div class="col-12">
            <div class="col-6">
                <p>Zmień miesiąc:</p>
                {{ form_widget(edit_form.miesiac) }}
                <small>{{ form_help(edit_form.miesiac) }}</small>
                <div class="form-error">{{ form_errors(edit_form.miesiac) }}</div>
            </div>
        </div>


{#                        <tr class="bg-custom-green"><td colspan="3" class="text-right" id="suma-label">SUMA:</td><td id="suma" colspan="2" class="text-right">#}
{#                                <div class="form-group">#}
{#                                    {{ form_widget(edit_form.suma, {'attr': {'class': 'form-control text-right'}}) }}#}
{#                                    <small class="form-text text-muted">{{ form_help(edit_form.suma) }}</small>#}
{#                                    <div class="invalid-feedback">{{ form_errors(edit_form.suma) }}</div>#}
{#                                </div>#}
{#                            </td></tr>#}





                        {% if numeryWozkow is defined and numeryWozkow is not empty %}
                            <p>Zestawienia:</p>
                            <p class="alert alert-warning">Uwaga - przed wydrukiem najpierw kliknij przycisk "Zapisz i kontynuuj" !</p>

                            {% for wozek in numeryWozkow %}
                                        <div class="col-6">
                                                <a href="{{ ea_url().setRoute('app_get_zeszyt_zestawienie', { id: edit_form.vars.value.id, zestawienie: wozek }) }}">
                                                    <i class="fa-regular fa-eye"></i> {{ wozek }}
                                                </a>
                                        </div>
                                        <div class="col-6">
                                                <a href="{{ ea_url().setRoute('app_get_zeszyt_zestawienie_pdf', { id: edit_form.vars.value.id, zestawienie: wozek }) }}">
                                                    <i class="fa-solid fa-print"></i> {{ wozek }}
                                                </a>
                                        </div>
                                    {% endfor %}

                                <div class="col-6">
                                        <a href="{{ ea_url().setRoute('app_get_zeszyt_zamowienie', { id: edit_form.vars.value.id}) }}">
                                            <i class="fa-regular fa-eye"></i> Cały miesiąc
                                        </a>
                                </div>
                                <div class="col-6">
                                        <a href="{{ ea_url().setRoute('app_get_zeszyt_zamowienie_pdf', { id: edit_form.vars.value.id}) }}">
                                            <i class="fa-solid fa-print"></i> Cały miesiąc
                                        </a>
                                </div>

                         {% endif %}





        {{ form_end(edit_form) }}
    {% endblock edit_form %}
{% endblock %}
