{# templates/admin/business_stats/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Zestawienie miesiąca' %}
{% block main %}
    <div class="container">
        <div class="flex-container">
            <h4 class="my-4"> {{ miesiac|date('Y-m') }}</h4>
            <span class="klient">{{ user }}</span>
        </div>

        {% set suma = 0 %}
        {% set podsuma = 0 %}
        {% set sb = 0 %}
        {% set nd = 0 %}

        <table class="table wozek-druk">
            <thead>
            <tr class="more-gray">
                <th>Lp</th>
                <th class="text-center">Dzień</th>
                <th>Nazwa</th>
                <th>Typ</th>
                <th class="text-center">Sztuk</th>
                <th class="text-right">Cena</th>
                <th class="text-right">Wartość</th>
            </tr>
            </thead>
            <tbody>
            {% set lp = 1 %}
            {% set previous_key = -1 %}
            {% set row_color = 'gray' %} {# Rozpoczynamy od szarego tła #}
            {% for key, innerArray in wozki %}
                {% for item in innerArray %}
                    {% if key != previous_key %}
                        {% if row_color == 'gray' %}
                            {% set row_color = 'white' %} {# Jeśli poprzedni wiersz był szary, to ustawiamy białe tło #}
                        {% else %}
                            {% set row_color = 'gray' %} {# W przeciwnym razie ustawiamy szare tło #}
                        {% endif %}
                        {% set previous_key = key %}
                    {% endif %}
                    {% if row_color == 'gray' %}
                        <tr class="gray">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ lp }}</td>
                    <td class="text-center">{{ key }}</td>
                    <td>{{ item.nazwa }}</td>
                    <td>{{ item.rodzaj }}</td>
                    <td class="text-center">{{ item.sztuk }}</td>
                    <td class="text-right">{{ item.cena }} zł</td>
                    <td class="text-right">{{ item.wartosc }} zł</td>
                    {% set podsuma = item.wartosc  %}
                    </tr>
                    {% if key|date('w') == '6' %}
                        {% if row_color == 'gray' %}
                            <tr class="gray">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% set sb = (podsuma * 0.5)  %}
                            <td style="text-align: right;">Dodatek sobota: {{ sb }} zł</td>

                            {% set podsuma = podsuma + sb  %}
                        </tr>
                    {% elseif key|date('w') == '0' %}
                        {% if row_color == 'gray' %}
                            <tr class="gray">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% set nd = podsuma %}
                            <td style="text-align: right;">Dodatek niedziela: {{ nd }} zł</td>
                            {% set podsuma = podsuma + nd  %}
                        </tr>
                    {% endif %}

                    {% set suma = podsuma + suma  %}
                    {% set podsuma = 0  %}

                    {% set lp = lp + 1 %}
                {% endfor %}
            {% endfor %}
            {% if wozki|length > 0 %}
                {% if row_color == 'gray' %}
                    <tr class="gray">
                {% else %}
                    <tr>
                {% endif %}
                <td colspan="6" class="text-right more-gray"><strong>SUMA:</strong></td>
                <td class="more-gray text-right"><strong>{{ suma }} zł</strong></td>
                </tr>
            {% endif %}
            </tbody>
        </table>


        <p class="text-right">Wygenerowano: {{ "now"|date("Y-m-d H:i:s") }}
        </p>
        <a href="admin{{ wstecz }}"><< wstecz</a>
        <hr>
    </div>
{% endblock %}

